

.content {
  /* margin-left: 250px; /* Match the width of the sidebar */
 /* padding: 20px;
  width: 100%; */
  padding-left: 20rem ;
  padding-top: 5rem !important;
  background-color: aliceblue;
  box-shadow: 0 2px 4px rgba(0, 0, 20, .08), 0 1px 2px rgba(0, 0, 20, .08);
    border: 0;
}
@media screen and (max-width: 768px) {
  .content {
    /* margin-left: 250px; /* Match the width of the sidebar */
   /* padding: 20px;
    width: 100%; */
    padding-left:0 !important;
  
  }
}
